
@{
    ViewBag.Title = "AlreadyVerified";
}

<h3>Votre adresse est déjà vérifiée!</h3>

@Html.ActionLink("Connexion", "Login")

@section Scripts{
    <script defer>
        initTimeout(1000000000);
    </script>
}
