
@{
    ViewBag.Title = "EmailChangedAlert";
}

<h3>Un courriel de confirmation d'adresse de courriel à été envoyé.</h3>

@section Scripts{
    <script defer>
        initTimeout(1000000000);
    </script>
}