
@{
    ViewBag.Title = "ResetPasswordError";
}

<h3>Échec de la réinitialisation de mot de passe </h3>
<hr />
@Html.ActionLink("Se connecter...", "Login")

@section Scripts{
    <script defer>
        initTimeout(100);
    </script>
}

