
@{
    ViewBag.Title = "Liste des usagers";
}

<h2>Liste des usagers</h2>
<hr />

<div class="prevent-select">
    <div class="main">
        <table id="AccountsContainer">
            <!-- Refreshed periodically -->
        </table>
    </div>
</div>

@section Scripts {

    <script defer>
        let onBlockChanged = (parent, child) => {

            // State
            let checked = child.prop("checked");

            let name = parent.data("name");
            let message = checked
                ? "Voulez-vous bloquer " + name + "?"
                : "Voulez-vous débloquer " + name +"?";

            bootbox.confirm(message,
                function (result) {

                    if (!result) {
                        child.prop("checked", !checked);
                        return;
                    }

                    accounts.command("@Url.Action("BlockUser", "Accounts")?id=" + parent.data("id") + "&blocked=" + checked)
                }
            );
        };

        let onRemoveClicked = (parent, child) => {

            let name = parent.data("name");
            let message = "Voulez-vous vraiment supprimer " + name + "?";

            bootbox.confirm(message,
                function (result) {

                    if (!result)
                        return;

                    accounts.command("@Url.Action("DeleteUser", "Accounts")?id=" + parent.data("id"));
                }
            );
        };

        let onPromoteClicked = (parent, child) => {
            accounts.command("@Url.Action("PromoteUser", "Accounts")?id=" + parent.data("id"));
        };

        let onLoad = () => {
            $(".blockCB").each(function () {
                $(this).change(function () {
                    if ($(this) == undefined)
                        return;

                    let parent = $(this).closest(".user-list-row");

                    if (parent == undefined)
                        return;

                    onBlockChanged(parent, $(this));
                });
            });

            $(".removeButton").each(function () {
                $(this).css("cursor", "pointer");
                $(this).on("click", function () {
                    if ($(this) == undefined)
                        return;

                    let parent = $(this).closest(".user-list-row");

                    if (parent == undefined)
                        return;

                    onRemoveClicked(parent, $(this));
                });
            });

            $(".promoteBtn").each(function () {
                $(this).css("cursor", "pointer");
                $(this).on("click", function () {
                    if ($(this) == undefined)
                        return;

                    let parent = $(this).closest(".user-list-row");

                    if (parent == undefined)
                        return;

                    onPromoteClicked(parent, $(this));
                });
            });
        };

        let accounts = new PartialRefresh("@Url.Action("Accounts")", "AccountsContainer", 15, onLoad);
    </script>
}
