
@{
    ViewBag.Title = "VerifyError";
}

<h2>Un problème est survenu lors de la vérification d'adresse de courriel.</h2>

@Html.ActionLink("Connexion", "Login")

@section Scripts{
    <script defer>
        initTimeout(100000000);
    </script>
}
